
.carousel {
    align-items: center;
    display: flex;
    justify-content: space-between;
    /* max-height: 305px; */
    min-height: 240px;
    overflow: hidden;
    position: relative;
}

.carousel .carousel-item {
    position: absolute;
    inset: 0;
}

.carousel img {
    aspect-ratio: 335/ 224;
    object-fit: cover;
}

.carousel button {
    position: relative;
    z-index: 10;
    border: none;
    cursor: pointer;
    background-color: rgba(128, 128, 128, 0.281);
    padding: .5em;
}

.carousel .eye-icon:hover {
    opacity: .8;
}

.carousel .eye-icon button {
    justify-content: center;
}

.carousel .eye-icon img {
    aspect-ratio: unset;
    object-fit: contain;
}

.carousel .eye-icon {
    max-width: 100%;
    position: absolute;
    left: 45%;
    top: 50%;
    width: 60px;
    height: 60px;
    transform: translate(-25%,-48%);
    transition: opacity .25s ease-in-out;
}

@media only screen and (min-width: 768px) {
    .carousel .eye-icon {
      left: 50%;
      width: 80px;
      height: 80px;
      transform: translate(-25%,-48%);
      opacity: .2;
    }
  }

/* larger screens */
@media only screen and (min-width: 768px) {
    .carousel {
        min-height: 410px;
    }

    .carousel button {
        padding: 2.5em 1.5em;
    }

    .carousel button img {
        min-width: 40px;
    }
}