.home-banner {
    position: relative;
    width: 100%;
    height: auto;
    margin-bottom: var(--space-size);
    text-align: center;
    color: #fff; /* Text over the banner image is white */
}

.home-banner img {
    width: 100%;
    height: auto;
    max-height: 300px;
    object-fit: cover;
    filter: brightness(60%); /* Darken the image a bit */
}

.home-banner h2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 24px;
    padding: 0 1em;
}

@media (min-width: 768px) {
    .home-banner img {
        max-height: 450px;
    }
    .home-banner h2 {
        font-size: 38px;
    }
}
