/* style.css */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');
@import "./variables.css";
@import "./header.css";
@import "./home-banner.css";
@import "./card.css";
@import "./about.css";
@import "./footer.css";
@import "./accordion.css";
@import "./carousel.css";
@import "./related-section.css";

/* Global resets & styles */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  color: var(--font-clr);
}

img {
  max-width: 100%;
}

main {
  margin: auto;
  max-width: var(--max-page-width);
  padding-left: var(--space-size);
  padding-right: var(--space-size);
  min-height: 81dvh; /* approximate viewport minus header/footer */
}

/* Cards container on the Home page */
.cards-container {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
  justify-content: center;
  margin: auto;
  max-width: 100%;
  padding-top: var(--space-size);
  padding-bottom: var(--space-size);
}

.cards-container a {
  max-width: 414px;
  min-width: 320px;
  width: 100%;
  display: block;
  aspect-ratio: 9/6 auto;
}

/* Apartment page layout */
.apartment {
  align-items: center;
  display: grid;
  grid-template-areas:
    "title title"
    "sub-title sub-title"
    "tags tags"
    "rating greater";
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
}

.apartment h2 {
  color: var(--main-clr);
  font-size: 22px;
  font-weight: 500;
  grid-area: title;
  margin-block-end: 5px;
}

.apartment p {
  color: var(--footer-bg);
  font-size: 14px;
  grid-area: sub-title;
  margin-block-start: 0;
  margin-bottom: 1em;
}

.apartment .tags-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  grid-area: tags;
}

.apartment .tag {
  display: flex;
  align-items: center;
  background-color: var(--main-clr);
  justify-content: center;
  padding: 3px 20px;
  white-space: nowrap;
  word-break: keep-all;
}

.apartment .stars-container {
  display: flex;
  gap: 4px;
  grid-area: rating;
}

.apartment .greater {
  grid-area: greater;
  margin-top: 1em;
  margin-bottom: 1em;
}

.apartment .greater-container {
  align-items: center;
  display: flex;
  gap: 11px;
  justify-content: flex-end;
}

.apartment .greater-container span {
  color: var(--main-clr);
  display: block;
  font-size: 12px;
  max-width: 60px;
  text-align: right;
  word-break: break-word;
}

.apartment .greater-container img {
  border-radius: 50%;
  max-width: 32px;
}

/* Accordion container on the Apartment page */
.apartment-accordion-container {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

/* Larger screens */
@media only screen and (min-width: 768px) {
  .apartment {
    grid-template-areas:
      "title greater"
      "sub-title greater"
      "tags rating";
  }
  .apartment h2 {
    font-size: 36px;
  }
  .apartment p {
    font-size: 18px;
  }
  .apartment .tag {
    font-size: 1.1em;
  }
  .apartment .greater-container span {
    font-size: 18px;
    max-width: 110px;
  }
  .apartment .greater-container img {
    max-width: 60px;
  }
  .apartment-accordion-container {
    flex-direction: row;
    justify-content: space-between;
    margin-top: 1em;
  }
  .apartment .stars-container {
    justify-content: flex-end;
  }
}
